.days{
    color:#001529;
    font-weight: bold;
}
.groupOpenHour{
    color:#001529;
    text-align: center;
    font-size: large;
    margin: auto;

 font-style: italic;
}
.openHour{
 margin: auto;


}
