
body {
  font-family: Arial, sans-serif;
  background-color: #ffff;
  margin: center;
  padding: 0;
  height: 100vh;
}

.Login {
  width: 400px;
  margin: 0 auto;
  border-radius: 5px;
}
.login a{
  color: #faad14 !important;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.mail[type="text"],
.password[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #45a049;
}

.login-container .error-message {
  color: #ff0000;
  margin-bottom: 10px;
  text-align: center;
}
